<h1>New <%= @client.name %> Project</h1>
<% form_for @project, :url => admin_client_projects_path(@client) do |p| %>
	<div class="form-area">
	<%= render :partial => 'project', :locals => {:f => p} %>
		<div id="tab-control">
			<div id="pages" class="pages">
			<% fields_for :project_text do |t| %>
				<%= render :partial => 'admin/project_texts/project_text', :locals => {:f => t }%>
			<% end %>
			</div>
		</div>
	</div>
	<p class="buttons"><%= submit_tag "Save Changes", :class => 'button' %> <%= submit_tag "Save and Continue Editing", :class => 'button' %> or <%= link_to "Cancel", admin_portfolio_path %></p>
<% end %>